/* My first css doc yay */

* {
    background-color: #FFFFFF;
    font-family: "Bookerly", sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

ul,
li {
    background-color: #FFFAF0;
    text-align: left;
}
